@import url("../bootstrap/bootstrap.css");

form {
    margin: auto;
    height: auto;
    width: auto;
    font-size: 20px;
    color: white;
    background-color: #25274D;
    padding-left: 20px;
    font-family: "Cambria";
    border-radius: 4px;
    text-align: center;
}
#logout, #Button1 {
    border-radius: 10px;
}
.radioButtonList {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .radioButtonList.horizontal li {
        display: inline;
    }

    .radioButtonList label {
        display: inline;
    }


.notificationBtn{
    line-height: 12px;
    width: 158px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    top: 0;
    right: 0;
    height: 28px;
}

