@import url("../bootstrap/bootstrap.css");
#loginForm {
    margin: auto;
    width: 50%;
    color: white;
    background-color: #25274D;
    padding: 10px;
    text-align: center;
    font-family: "Cambria";
}
input{
    padding:8px;
    margin-top:5px;
    border-radius:10px;
}

.radioButtonList {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .radioButtonList.horizontal li {
        display: inline;
    }

    .radioButtonList label {
        display: inline;
    }