
#loginForm {
    margin: auto;
    width: 30%;
    color: white;
    background-color: #25274D;
    padding: 10px;
    text-align: center;
    font-family: "Cambria";
}


.radioButtonList{
    list-style: none;
     
}

    .radioButtonList.horizontal li {
        display: inline;
    }

    .radioButtonList label {
        display: inline;
    }