@import url("../bootstrap/bootstrap.css");

#tblCaption {
    padding-top:50px;
    margin: auto;
    font-size: 20px;
    background-color: #fff;
    padding-left: 20px;
    font-family: "Cambria";
    border-radius: 4px;
    text-align: center;
}
#form1 {
    margin: auto;
    height: 700px;
    
    font-size: 20px;
    background-color: #fff;
    padding-left: 20px;
    font-family: "Cambria";
    border-radius: 4px;
    text-align: center;
}


.cellHeader {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
