#regForm{
    margin: auto;
    height: 700px;
    width: 600px;
    font-size: 20px;
    background-color: #fff;
    padding-left: 20px;
    font-family: "Cambria";
    border-radius: 4px;
    text-align: center;
    
}
body{
    
}

input, textarea {
    margin-left: 20px;
    margin-top: 10px;
}
form{

}