
#regForm {
    padding:10px;
    margin: auto;
     width: 600px;
    font-size: 20px;
    padding-left: 20px;
    font-family: "Cambria";
    border-radius: 4px;
    text-align: center;
    color: black;
    background-color: #42456f;
}
body{
    
}

#register, #resetBtn {
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
}
input, textarea {
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
}
form{

}
