@import url("../bootstrap/bootstrap.css");

form {
    margin: auto;
    height: 700px;
    width: 600px;
    font-size: 20px;
    background-color: #fff;
    padding-left: 20px;
    font-family: "Cambria";
    border-radius: 4px;
    text-align: center;
}
