
.img {
    margin: auto; 
    font-size: 20px;
    background-color: #fff;
    padding-left: 20px;
    font-family: "Cambria";
    border-radius: 4px;
    text-align: center;
    border: 10px solid black;
    border-radius: 100px;
}
.mainContent {
    color: #ff6a00;
    font-weight: bold;
    font-size: 22px; 
    padding-left: 100px;
}